In [1]:
# malaria_scraper imports pandas
import malaria_scraper

In [2]:
df = malaria_scraper.get_dataframe_all_countries()
df

,country,areas_with_malaria,estimated_risk
0,Afghanistan,AprilâDecember in all areas at altitudes bel...,Moderate2
1,Albania,None,None
2,Algeria,None,None
3,American Samoa,None,None
4,Andorra,None,None
5,Angola,All,High
6,Anguilla,None,None
7,Antarctica,None,None
8,Antigua and Barbuda,None,None
9,Argentina,None,None
10,Armenia,None,None
11,Aruba,None,None
12,Australia,None,None
13,Austria,None,None
14,Azerbaijan,None,None
15,Azores,None,None
0,Bahamas,None,None
1,Bahrain,None,None
2,Bangladesh,"All areas, except in the city of Dhaka.",Low
3,Barbados,None,None
4,Belarus,None,None
5,Belgium,None,None
6,Belize,Rare locally transmitted cases. None in Belize...,Very low
7,Benin,All,High
8,Bermuda,None,None
9,Bhutan,"Rare cases in rural areas <1,700 m (5,577 ft) ...",Very low
10,Bolivia,"All areas below 2,500 m (8,202 ft). None in th...",Low
11,Bosnia and Herzegovina,None,None
12,Botswana,Present in the following districts: Central an...,Low
13,Brazil,"Malaria Outbreak: Bahia State, Brazil(https://...",Low
...,...,...,...
3,Thailand,Primarily in provinces that border Burma (Myan...,Low
4,Timor-Leste,All,Moderate
5,Togo,All,High
6,Tokelau,None,None
7,Tonga,None,None
8,Trinidad and Tobago,None,None
9,Tunisia,None,None
10,Turkey,None,None
11,Turkmenistan,None,None
12,Turks and Caicos Islands,None,None
13,Tuvalu,None,None
0,Uganda,All,High
1,Ukraine,None,None
2,United Arab Emirates,None,None
3,United Kingdom,None,None
4,United States,None,None
5,Uruguay,None,None
6,Uzbekistan,None,None
0,Vanuatu,All,Moderate
1,Venezuela,"All areas <1,700m (5,577 ft). Present in Angel...",Low
2,Vietnam,Rural areas only. Rare cases in the Mekong and...,Low
3,Virgin Islands,None,None
4,Virgin Islands,None,None
0,Wake Island,None,None
1,Wallis and Futuna Islands,None,None
2,West Bank,None,None
3,Western Sahara,Rare cases,No Data
0,Yemen,"All areas at altitudes below 2,000 m (6,562 ft...",Low
0,Zambia,All,Moderate
1,Zimbabwe,All,Moderate