In [1]:
# malaria_scraper imports pandas
import malaria_scraper

In [2]:
df = malaria_scraper.get_dataframe('b')
df

,country,areas_with_malaria,estimated_risk
0,"Bahamas, The",None,None
1,Bahrain,None,None
2,Bangladesh,"All areas, except in the city of Dhaka.",Low
3,Barbados,None,None
4,Belarus,None,None
5,Belgium,None,None
6,Belize,Rare locally transmitted cases. None in Belize...,Very low
7,Benin,All,High
8,Bermuda,None,None
9,Bhutan,"Rare cases in rural areas <1,700 m (5,577 ft) ...",Very low
10,Bolivia,"All areas below 2,500 m (8,202 ft). None in th...",Low
11,Bosnia and Herzegovina,None,None
12,Botswana,Present in the following districts: Central an...,Low
13,Brazil,"Malaria Outbreak: Bahia State, Brazil(https://...",Low
14,British Indian Ocean Territory,None,None
15,Brunei,None,None
16,Bulgaria,None,None
17,Burkina Faso,All,High
18,Burma,"Present at altitudes below 1,000 m (3,281 ft),...",Moderate
19,Burundi,All,Moderate